# PORT: Dev/Production server port (default 3000)
PORT=3000

# JWT_SECRET: Secret key for signing JSON Web Tokens
JWT_SECRET="fintrack_super_secret_jwt_key_2026"

# MONGO_URI: Optional MongoDB connection string (e.g. mongodb://localhost:27017/fintrack)
# If not provided, FinTrack automatically uses an embedded JSON data store
MONGO_URI="mongodb://localhost:27017/fintrack"

